<div class="row text-center">   

  <div class="panel panel-default">
    <div class="panel-heading">Users</div>

      <table class="table"> 
        <thead>
         <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr> 
      </thead> 
      <tbody>
       
      <% @users.each do |user| %>
            
        <tr >
          <td scope="row"><%= user.id %></td>
          <td><%= user.first_name %></td>
          <td><%= user.last_name %></td> 
          <td><%= user.email %></td> 
          <td>
            <%= link_to "Edit", edit_user_path(user), :class => "btn btn-default" %>
          </td> 
        </tr> 
                      
      <% end %>

      </tbody> 
    </table>
  </div>

</div>
